@font-face {
    font-family: "Benne";
    src: url("./Benne-Regular.woff") format('woff');
}

@font-face {
    font-family: "Fakt Pro";
    src: url("./FaktPro-Normal.woff") format('woff');
    font-weight: normal;
}

