.Footer {
  border-top: 2px solid floralwhite;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  background-color: royalblue;

}

.footer-logo {
  font-size: 0.8rem;
  padding: 3rem;
  padding-bottom: 1rem;

}

.footer-description {
  font-size: 0.6rem;
  padding-top: 3rem;
  padding-right: 1rem;
  line-height: 0.8rem;
}

.footer-link {
  font-size: 0.6rem;
  text-decoration: underline;
  margin-right: 0.5rem;
}

.Footer a {
  color: floralwhite;
}

.red {
  color: rgb(216, 140, 140);
  font-family: 'Times New Roman', serif;
}