.Footer {
  border-top: 2px solid floralwhite;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: royalblue;

}

.footer-logo {
  font-size: 0.8rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-description-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-description {
  width: 150px;
  font-size: 0.6rem;
  line-height: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.social-media {
text-align: left;
display: flex;
flex-direction: column;
}

.footer-link {
  font-size: 0.6rem;
  text-decoration: underline;
  margin-right: 0.5rem;
}

.Footer a {
  color: floralwhite;
}

.red {
  color: rgb(216, 140, 140);
  font-family: 'Times New Roman', serif;
}
