.Header {
  border-bottom: 2px solid floralwhite;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  font-family: 'Benne', serif;
  margin: 0;
}
