.add-find-form {
  display: flex;
  flex-direction: column;
}

.add-find-form > label {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.add-find-form label > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-find-form > label > * {
  width: 13rem;
}

.add-find-form .location input {
  width: 5rem;
}

.add-find-form .photos input {
  width: 10rem;
}
